.regix-card {
    background-color: var(--regix-bg);
    position: relative;
    border-radius: 1rem;
}

.reg-img {
    background: var(--primary-color);
}

.hero-img {
    background: url("Images/micro.jpg");
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.form-control,
.form-select,
.form-check-input {
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid var(--form-border);
}

.form-select {
    background-image: url("Images/caret-down-fill.svg");
}

.form-control:active,
.form-control:focus,
.form-select:active,
.form-select:focus,
.form-check-input:focus,
.form-check-input:checked {
    background-color: var(--primary-color);
    border: 2px solid var(--form-border-active);
    color: #fff;
    box-shadow: 0px 0px 1px 2px var(--form-shadow);
}

.form-check-label,.form-check-input {
    font-size: 1.21rem;
}

.form-select {
    font-size: 0.9rem;
    
}

.bt-parent {
    display: flex;
    justify-content: center;
}

.btn-outline-light {
    border-width: 2px;
}

.modal-content {
    background-color: transparent;
    border-color: transparent;
    border-radius: 2rem;
}

.modal-xl {
    max-width: 1320px;
    max-height: 600px;
}


.modal-backdrop {
    z-index: 0;
}

.filler {
    margin-top: 5.4rem;
}

@media (min-width: 1200px) and (max-width: 1327px) {
    .modal-xl {
        max-width: 1199.99px;
    }
}

/* Sign-in styles */

.regix-card.sign-in,.modal-content.sign {
    max-width: 800px;
    margin: 0 auto;
}


.sign-card{
    max-width: 380px;
    max-height: 600px;
}

.reg-sign {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.1em;
    flex-basis: 100%;
    transition: all 400ms cubic-bezier(0.85, 0, 0.15, 1);
}

.reg-sign:hover {
    background-color: #fff;
    color: var(--regix-bg);
}

.sign-in-img {
    background: url("Images/stars.png");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.student-row {
    border-top: 1px solid #554774;
}

.reg-sign.s-sign {
    background-color: #7859bd;
    border: 2px solid #7859bd;
    transition: all 99ms ease-in;
}

.reg-sign.s-sign:hover {
    background-color: #6137bd;
    border: 2px solid #6137bd;
    color: #fff;
}

.s-link {
    text-decoration: none;
    color: #bca9e4;
}

.s-link:hover {
    color: #a67dff;
    cursor: pointer;
}

@media(max-width: 375px) {
    .sign-card-parent {
        padding: 1.9rem!important;
    }
}

@media(min-width: 375px) and (max-width: 576px) {
    .regix-card.sign-in {
        max-width: 384px;
    }
}